.footerBlock{
    display: flex;
    flex-direction: column;
    background: #403E3F;
    height: 30vh;
    text-align: center;
    color: #cecece;
    align-items: center;
    // flex: 0 0 auto;
    // padding: 100px 0 0 0 ;
    justify-content: center;
    // flex: 0 0 auto;
    .inst{
        font-size: 40px;
        color: white;
        font-family: 'Oswald', sans-serif;
        padding: 0 0 10px 0;
        a{
            // padding-bottom: 2%;
            color: white;
            font-family: 'Oswald', sans-serif;
        }
    }
    .more{
        padding: 0.5% 5% 0 5%;
        // padding-top: 6%;
        font-size: 20px;
    }
}

@media (max-width: 1000px){
    .footerBlock{
        height: 30vh;
        .inst{
            a{

            }
        }
        .more{
            font-size: 13px;
        }
    }
}
@media (max-width: 530px){
    .footerBlock{
        .inst{
            font-size: 25px;
            a{
                
            }
        }
        .more{
            font-size: 8px;
        }
    }
}